﻿@model ExternalLoginConfirmationViewModel
@{
    ViewBag.Title = "Register";
}


<div class="register">
    <h3>Associate your @ViewBag.LoginProvider account</h3>

    <form asp-controller="Account" asp-action="ExternalLoginConfirmation" asp-route-returnurl="@ViewBag.ReturnUrl" method="post" class="form-horizontal" role="form">
        <div asp-validation-summary="ValidationSummary.All" class="text-danger"></div>

        <p class="text-info">
            You've successfully authenticated with <strong>@ViewBag.LoginProvider</strong>!
            Please enter a user name for this site below
            and click the Register button to finish
            logging in.
        </p>
        <br />
        <div class="form-group">
            @*<label asp-for="Email" class="col-md-2 control-label"></label>*@
            <div class="">
                <input asp-for="Email" placeholder="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            @*<label asp-for="DisplayName" class="col-md-2 control-label"></label>*@
            <div class="">
                <input asp-for="DisplayName" placeholder="Display name" class="form-control" />
                <span asp-validation-for="DisplayName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="">
                <input type="submit" class="btn btn-default green_btn" value="Register" />
            </div>
        </div>
    </form>

</div>
    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    }
