﻿@model LoginViewModel
@using System.Collections.Generic
@using Microsoft.AspNet.Http
@using Microsoft.AspNet.Http.Authentication
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewBag.Title = "Log in";
}

<style>
    .navbar, hr { 
        display: none; 
    }

    body {
        background-color: transparent;
    }

    #socialLoginList #Facebook {
        background:url(/images/login_fb.png);
        border: none;
        width: 250px;
        height: 46px;
        color: transparent;

    }

    .col-md-12 {
        text-align: center;
    }

    .form-control {
        display: inline-block;
    }

    #Email {
        margin-top: 5px;
    }

    #rememberme {
        float: none;
    }

    footer {
        position: absolute;
        bottom: 10px;
    }

    .text-danger ul {
        padding: 0;
    }

    .text-danger ul li {
        list-style-type: none;
        text-align: center;
    }

</style>

@*<h2>@ViewBag.Title.</h2>*@
<div class="loginPage row">
    <div class="logo"></div>
    <div class="col-md-12">
        <section id="socialLoginForm">
            @*<h4>Use another service to log in.</h4>*@

            @{
                var LoginProviders = SignInManager.GetExternalAuthenticationSchemes().ToList();
                if (LoginProviders.Count == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See <a href="http://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                            for details on setting up this ASP.NET application to support logging in via external services.
                        </p>
                    </div>
                }
                else
                {
                    <form asp-controller="Account" asp-action="ExternalLogin" asp-route-returnurl="@ViewBag.ReturnUrl" method="post" class="form-horizontal" role="form">

                        <div id="socialLoginList">
                            <p>
                                @foreach (AuthenticationDescription p in LoginProviders)
                                {
                                    <button type="submit" class="btn btn-default" id="@p.AuthenticationScheme" name="provider" value="@p.AuthenticationScheme" title="Log in using your @p.Caption account">@p.AuthenticationScheme</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
    <div>
        <p style="font-style: italic; text-align: center;">-or-</p>
    </div>
    <div class="col-md-12">
        <section id="loginForm">
            <form asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewBag.ReturnUrl" method="post" class="form-horizontal" role="form">
                @*<h4>Use a local account to log in.</h4>*@

                <div asp-validation-summary="ValidationSummary.All" class="text-danger"></div>
                <div class="form-group">
                    @*<label asp-for="Email" class="col-md-2 control-label"></label>*@
                    <div class="">
                        <input asp-for="Email" placeholder="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    @*<label asp-for="Password" class="col-md-2 control-label"></label>*@
                    <div class="">
                        <input asp-for="Password" placeholder="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <div class="checkbox">
                            <input id="rememberme" asp-for="RememberMe" />
                            <label asp-for="RememberMe"></label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <input type="submit" id="login_btn" value="Log in" class="btn btn-default green_btn" />
                    </div>
                </div>
                <p>
                    <a asp-action="Register">Register as a new user?</a>
                </p>
                <p>
                    <a asp-action="ForgotPassword">Forgot your password?</a>
                </p>
            </form>
        </section>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
