﻿@model RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<style>
    .validation-summary-errors > ul {
        padding:0;
        margin: 0;
    }
</style>

<div class="register">

    <h2>Register</h2>

    <form asp-controller="Account" asp-action="Register" method="post" class="form-horizontal" role="form">
        <h4>Create a new account</h4>
        <div asp-validation-summary="ValidationSummary.All" class="text-danger"></div>
        <div class="form-group">
            <div class="">
                <input asp-for="Email" placeholder="Email" class="form-control" />
                @*<span asp-validation-for="Email" class="text-danger"></span>*@
            </div>
        </div>
        <div class="form-group">
            <div class="">
                <input asp-for="DisplayName" placeholder="Display name" class="form-control" />
                @*<span asp-validation-for="DisplayName" class="text-danger"></span>*@
            </div>
        </div>
        <div class="form-group">
            <div class="">
                <input asp-for="Password" placeholder="Password" class="form-control" />
                @*<span asp-validation-for="Password" class="text-danger"></span>*@
            </div>
        </div>
        <div class="form-group">
            <div class="">
                <input asp-for="ConfirmPassword" placeholder="Confirm password" class="form-control" />
                @*<span asp-validation-for="ConfirmPassword" class="text-danger"></span>*@
            </div>
        </div>
        <div class="form-group">
            <div class="">
                <input type="submit" class="btn btn-default green_btn" value="Register" />
            </div>
        </div>
    </form>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
