﻿
<style>
    .link {
        display: block;
        text-align: center;
        font-size: 24px;
        margin-top: 50px;
    }

    .us {
        margin: 20px;
        display: inline-block;
    }

    .us img {
        height: 175px;
        width: 175px;
        border-radius: 200px;
    }

    .us span {
        display: block;
        font-size: 16px;
        margin: 10px 0;
    }

    .content {
        text-align: center;
        margin: 20px 0;
    }

    .content p {
        max-width: 750px;
        display: block;
        margin: 40px auto;
        font-size: 20px;
    }

</style>
<div id="about">
    <div class="content">
        <p>SwoleFile is a project created in the Citrix Hackathon of 2015 by five, swole members of the ShareFile Business Systems team. It is created in Visual Studio 2015 RC, using the MVC 6 framework and Knockout.js.</p>
        <div class="us">
            <img src="/images/ian.jpg" />
            <span>Ian Hawkins</span>
        </div>        
        <div class="us">
            <img src="/images/mark.jpg" />
            <span>Mark Widgren</span>
        </div>
        <div class="us">
            <img src="/images/andrew.jpg" />
            <span>Andrew Byrd</span>
        </div>
        <div class="us">
            <img src="/images/Xifeng.jpg" />
            <span>Xifeng Fang</span>
        </div>
        <div class="us">
            <img src="/images/Jordan.jpg" />
            <span>Jordan Curd</span>
        </div>
    </div>
    <a class="link" href="http://swolefile.azurewebsites.net">http://swolefile.azurewebsites.net</a>
</div>


