﻿@{
    ViewBag.Title = "Dashboard";
}
@section scripts {
    <script type="text/javascript">

        $(document).ready(function () {
            $.ajax({
                url: "/api/dashboard",
                dataType: "json",
                type: "GET",
                success: function (data) {
                    userViewModel.hasLoaded(true);
                    userViewModel.CheckIns(data.CheckIns);
                    userViewModel.AllowCheckIn(data.AllowCheckIn);                    
                }
            });
        });

        var UsersViewModel = function () {
            var self = this;
            self.CheckIns = ko.observableArray();
            self.AllowCheckIn = ko.observable();
            self.hasLoaded = ko.observable(false);
        }
        var userViewModel = new UsersViewModel();

        ko.applyBindings(userViewModel);

    </script>
}




<div class="row" data-bind="visible: hasLoaded()">    

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th class="col-md-5">Name</th>
                <th class="col-md-2">Current Plan</th>
                <th class="col-md-1">Check-Ins</th>
            </tr>
        </thead>
        <tbody data-bind="foreach: CheckIns">
            <tr>
                <td class="bold text-left" data-bind="text: DisplayName"></td>
                <td data-bind="text: CrntPlan"></td>
                <td data-bind="text: CheckinCount"></td>
            </tr>
        </tbody>
    </table>
</div>

<form asp-controller="Home" asp-action="Checkin" method="post">
    <div class="col-md-12 center checkin" data-bind="visible: hasLoaded()">        
        <input type="submit" id="checkin_btn" value="Check-In" data-bind="visible:AllowCheckIn()" class="btn btn-default green_btn" />
        <p data-bind="visible:!AllowCheckIn()">
            <img src="/images/green_circle_check.png" />
            <span>You are checked in!</span>
            <a asp-controller="Plans" asp-action="CurrentWorkout" id="dashStartWorkout">Start your workout</a>
        </p>        
    </div>
</form>
