﻿
@{
    ViewBag.Title = "Plans";
}

<div class="plans">
    <h1>Plan Name</h1>
    <h3>(Day 2)</h3>
    <ul>
        <li>Exercise 1<span></span></li>
        <li>Exercise 2<span></span></li>
        <li>Exercise 3<span></span></li>
        <li>Exercise 4<span></span></li>
        <li>Exercise 5<span></span></li>
    </ul>
</div>