﻿
@{
    ViewBag.Title = "Profile";
}

<div class="profile">

    <div class="user_photo">
        <img class="img-circle" data-bind="attr:{src:ProfilePic}" />
    </div>
    <p data-bind="liveEditor: DisplayName">
        <span class="view"><a href="#" data-bind="click: DisplayName.edit, text: DisplayName() || 'Click to edit DisplayName'"></a></span>
                
        <span class="edit"><input style="margin-top: -5px;" data-bind="value: DisplayName,
            enterKey: DisplayName.stopEditing,
            selectAndFocus: DisplayName.editing,
        event: { blur: DisplayName.stopEditing }" /></span>
    </p>
    <p data-bind="liveEditor: CurrentPlan">Current Plan: 
        <span class="view"><a href="#" data-bind="click: CurrentPlan.edit, text: CurrentPlan() || 'Click to edit CurrentPlan'"></a></span>
        <span class="edit">
            <select data-bind="options: availablePlans,
            optionsText: 'Name',
            optionsValue: 'Name',
            value: CurrentPlan,
            enterKey: CurrentPlan.stopEditing,
            selectAndFocus: CurrentPlan.editing,
        event: { blur: CurrentPlan.stopEditing }"></select>
        </span>
    </p>

    <p>Current Workout: <span id="workoutName" data-bind="text: CurrentWorkout"></span></p>
    <p>Plan Progress: <span id="planProgress" data-bind="text: PlanProgress"></span></p>
    
    <p>
        <button class="btn btn-default green_btn_sm" id="viewPlansLnk" href="#">View Plan</button>
    </p>
</div>

@section scripts {
    <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/knockout/3.3.0/knockout-min.js'></script>
    <script type="text/javascript">

        $(document).ready(function () {
            $('#viewPlansLnk').click(function () {
                window.location.href = '/Plans/ViewPlans/' + view.CurrentPlanId();
            });
        });

        ko.extenders.liveEditor = function (target) {
            target.editing = ko.observable(false);

            target.edit = function () {
                target.editing(true);
            };

            target.stopEditing = function () {
                target.editing(false);
            };
        };

        ko.bindingHandlers.liveEditor = {
            init: function (element, valueAccessor) {
                var observable = valueAccessor();
                observable.extend({ liveEditor: this });
            },
            update: function (element, valueAccessor) {
                var observable = valueAccessor();
                ko.bindingHandlers.css.update(element, function () { return { editing: observable.editing }; });
            }
        };

        var ViewModel = function (data) {
            this.DisplayName = ko.observable(data.DisplayName);

            this.DisplayName
                .subscribe(function (dataToSave) {
                    $.ajax({ url: '/api/Profile', data: ko.toJSON(view), type: 'POST', contentType: "application/json"});
                });

            this.ProviderKey = ko.observable(data.ProviderKey);
            this.ProfilePic = ko.observable(data.ProfilePic);
            this.CurrentPlan = ko.observable(data.CurrentPlan);
            this.CurrentPlan
                .subscribe(function (dataToSave) {
                    $.ajax({ url: '/api/Profile', async: false, data: ko.toJSON(view), type: 'POST', contentType: "application/json" });
                    $.ajax({
                        url: "/api/Profile",
                        dataType: "json",
                        type: "GET",
                        success: function (data) {
                            view.CurrentWorkout(data.CurrentWorkout);
                            view.PlanProgress(data.PlanProgress);
                            view.CurrentPlanId(data.CurrentPlanId);
                            view.CurrentPlan(data.CurrentPlan);
                        }
                    });
                });

            this.CurrentPlanId = ko.observable(data.CurrentPlanId);
            this.CurrentWorkout = ko.observable(data.CurrentWorkout);
            this.PlanProgress = ko.observable(data.PlanProgress);
            this.availablePlans = ko.observableArray(data.Plans);
            
        };

        var view;

        $.ajax({
            url: "/api/Profile",
            dataType: "json",
            type: "GET",
            success: function (data) {
                view = new ViewModel(data);
                ko.applyBindings(view);
            }
        });

    </script>
}