﻿@model CurrentWorkoutViewModel
@{
    ViewBag.Title = "Current Workout";
}

<div class="current-workout">
    @ViewBag.Error
    <h1>@Model.PlanName</h1>
    <h3>@Model.WorkoutName</h3>
    <h3>(Day @Model.CurrentStage)</h3>
    <ul>
        @foreach (var e in Model.Exercises)
        {
            <li>
                @e.Name
                <span class="exercise-selection"></span>
            </li>
        }
    </ul>
</div>

<form asp-controller="Plans" asp-action="CompleteWorkout" method="post">
    <div class="col-md-12 center complete-workout">
        <input type="submit" id="complete-workout_btn" value="Complete Workout" class="btn btn-default green_btn" />
    </div>

</form>

@section scripts {
<script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/knockout/3.3.0/knockout-min.js'></script>  

<script type="text/javascript">
    $(document).ready(function () {
        $('.exercise-selection').click(function () {
            if($(this).hasClass('selected'))
                $(this).removeClass('selected');
            else
                $(this).addClass('selected');
        });
    });
</script>
}