﻿@model List<ViewPlansViewModel>
@{
    ViewBag.Title = "View Plans";
}

<div class="ViewPlans">
    <h2>Workout Plans</h2>
    <br />
    
    @foreach (var m in Model)
    {
        <div class="plan">
            <p @(m.IsSelected ? "class=active" : "")>@m.PlanName</p>
            <ul class="workout" @(m.IsSelected ? "style=display:block;" : "")>
            @foreach (var workout in m.Workouts)
            {
                <li>
                    <p @(m.IsSelected ? "class=active" : "")>@workout.Name</p>
                    <ul @(m.IsSelected ? "style=display:block;" : "")>
                        @foreach (var exercise in workout.Exercises)
                        {
                            <li>@exercise.Name</li>
                        }
                    </ul>
                </li>
            }
            </ul>
        </div>
      }
</div>

@section scripts {
<script type="text/javascript">
    $(document).ready(function () {
        $("p").click(function () {
            $(this).next("ul").slideToggle(150);
            $(this).toggleClass("active");
        })
    });
</script>
}