﻿html { 
    /*background: url(/images/loginbg.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;*/
}

#bg {
  position: fixed; 
  top: -50%; 
  left: -50%; 
  width: 200%; 
  height: 200%;
  z-index: -3;
}
#bg img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
}
body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: transparent;
    color: #62728C;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

.row {
    margin-right:0;
    margin-left:0;
}

.center {
    text-align: center;
}


.form-horizontal .form-group {
    margin-right: 0;
    margin-left: 0;
}


/*NAV*/
.navbar, .navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav > li > a {
    background-color: #39404D;
    color: #8a97ad;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form, .navbar-inverse {
    border: none;
}

#swologo {
    float: left;
}

.logo {
    background:url("/images/swologo2.png");
    height: 285px;
    width: 272px;
    margin: auto;
    margin-bottom: 25px;
}


.loginPage.row {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 666px;
}

/*FOOTER*/
footer {
    position: fixed;
    bottom: 10px;
}


/*BUTTON*/

.green_btn {
    background: #9c3;
    border: 0;
    color: #fff;
    width: 280px;
    height: 50px;
    font-size: 22px
}

.green_btn_sm {
    background: #9c3;
    border: 0;
    color: #fff;
    width: 200px;
    height: 40px;
    font-size: 18px;
    margin-top: 20px;
}

.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
    background-color: #B6E063;
    color: #fff;
}

/*DASHBOARD*/
table {
    margin: 50px auto;
    background-color: #fff;
    border-radius: 3px;
    max-width: 750px;
}

.table thead > tr > th, .table tbody > tr > th, .table tfoot > tr > th, .table thead > tr > td, .table tbody > tr > td, .table tfoot > tr > td {
    border-top: 1px solid #F2F2F2;
    padding: 16px;
    text-align: center;
}

.table-hover > tbody > tr:hover > td, .table-hover > tbody > tr:hover > th {
    background-color: transparent;
}

.table thead > tr > th {
    border-bottom: none;
}

.table-striped > tbody > tr:nth-child(odd) > td, .table-striped > tbody > tr:nth-child(odd) > th {
    background-color: #FAFAFA;
}

.table {
    margin-bottom: 120px;
}

.checkin, .complete-workout {
    position: fixed;
    bottom: 0px;
    right: 0;
    left: 0;
    background: #39404D;
    padding: 20px;
    height: 90px;
}

.checkin p, .complete-workout p {
    padding: 15px 0;
    font-size: 20px;
    color: #fff;
}

.checkin span, .complete-workout span {
    padding-left: 10px;
}


.checkin img, .complete-workout img {
    height: 25px;
    width: 25px;
}

.checkedIn {
    display: none;
}

/*PROFILE*/

.profile {
    background: #fff;
    border-radius: 5px;
    padding: 20px;
    max-width: 420px;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 530px;
}

.profile .user_photo {
    margin-top: 20px;
    text-align: center;
    margin-bottom: 20px;
}

.profile .user_photo img {
      width: 250px;
      height: 250px;
}

.profile #userName {
    font-size: 20px;
    font-weight: bold;
}

.profile p {
    text-align: center;
    font-size: 16px;
    padding: 5px 0;
    color: #62728C;
    margin: 0;
    height: 30px;
}

.profile p span {
    font-weight: bold;
}

/*PLANS*/


.current-workout {
    background: #fff;
    border-radius: 5px;
    padding: 20px;
    max-width: 420px;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 500px;
    text-align: center;
}

.current-workout ul {
    margin: 40px 0 0 0;
    padding: 0;
}

.current-workout ul li {
    list-style-type: none;
    font-size: 18px;
    padding: 15px 0;
}

.current-workout ul li span {
    border: 1px solid #62728C;
    height: 25px;
    width: 25px;
    display: inline-block;
    border-radius: 50px;
    margin-left: 30px;
    margin-bottom: -6px;
    padding: 1px;
    float: right;
    margin-right: 91px;
}

.current-workout ul li span.selected {
    background:#B6E063;
}

/*VIEWPLAN*/

.ViewPlans {
    margin: 50px auto;
    background-color: #fff;
    border-radius: 3px;
    max-width: 420px;
    padding: 20px 40px;
}

.ViewPlans h2 {
    text-align: center;
}

.ViewPlans ul {
    display: none;
}

.ViewPlans ul li {
    list-style-type: none;
    cursor: pointer;
    padding: 3px 0;
}

.ViewPlans .plan > p {
    font-size: 20px;
    cursor: pointer;
}

.ViewPlans .plan p {
    background:url("/images/bullet_arrow1.png") left center no-repeat;
    padding-left: 20px;
}

.ViewPlans .plan p.active {
    background:url("/images/bullet_arrow2.png") left center no-repeat;
}

.ViewPlans .plan .workout {
    font-weight: bold;
}

.ViewPlans .plan .workout li ul li {
    cursor: default;
    font-weight: normal;
    list-style-type: lower-alpha;
    margin-left: 20px;
}

.ViewPlans .plan {
    margin-bottom: 30px;
}

/*REGISTER*/

.register {
    text-align: center;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 350px;
}

.register input {
    margin: auto;
}

.register ul li {
    list-style-type: none;
}

.register ul {
    padding: 0;
    margin: 0;
}
.register p {
    width: 280px;
    margin: auto;
}

@media (min-width: 768px) {
    .carousel-caption {
        z-index: 10 !important;
    }
    .navbar > .container .navbar-brand {
        margin-left: 0;
        padding-left: 5px;
    }
}

@media (max-width: 768px) {
    .loginPage.row  {
        height: auto;
    }

    .register, .profile {
        height: auto;
        top: 50px;
    }

    .profile {
        top: 20px;
    }

    .table thead > tr > th, .table tbody > tr > th, .table tfoot > tr > th, .table thead > tr > td, .table tbody > tr > td, .table tfoot > tr > td {
        padding: 8px
    }

    table, .ViewPlans {
        margin: 20px auto;
    }

    .profile .user_photo img {
      width: 200px;
      height: 200px;
    }

    #about .link {
        font-size: 18px;
        margin-bottom: 20px;
    }
}


@media (min-width: 992px) {
    .col-md-1 {
        width: auto;
    }

    .col-md-2 {
        width: auto;
    }

    .col-md-3 {
        width: auto;
    }

    .col-md-4 {
        width: auto;
    }

    .col-md-5 {
        width: auto;
    }

    .col-md-6 {
        width: auto;
    }

    .col-md-7 {
        width: auto;
    }

    .col-md-8 {
        width: auto;
    }

    .col-md-9 {
        width: auto;
    }

    .col-md-10 {
        width: auto;
    }

    .col-md-11 {
        width: auto;
    }
}

/*KNOCKOUT EDITTABLE FIELDS*/

.edit {
    display: none;    
}

.editing .edit {
    display: inline-block;   
}

.editing .view {
    display: none;
}

#dashStartWorkout {
    margin-left: 10px;
    text-decoration: underline;
}